{{- define "settings-adapters" -}}
<div class="settings-pane" data-pane="adapters">

  {{ template "settings-adapter-plex" (adapterPane .Adapters "plex") }}

  {{ template "settings-adapter-dlna" (adapterPane .Adapters "dlna") }}

  {{ template "settings-adapter-url" (adapterPane .Adapters "url") }}

  {{ template "settings-adapter-torrent" (adapterPane .Adapters "torrent") }}

  {{ template "settings-adapter-jellyfin" (adapterPane .Adapters "jellyfin") }}

  {{ template "settings-adapter-streams" (adapterPane .Adapters "streams") }}

</div>
{{- end -}}
